In this notebook we will map each element of our DB to his identifier in the IMDB DB

In [3]:
import modules.import_data as import_data
from swifter import set_defaults
set_defaults(
    npartitions=30,
    dask_threshold=1,
    scheduler="threads",
    progress_bar=True,
    progress_bar_desc=False,
    allow_dask_on_strings=True,
    force_parallel=True,
)

In [2]:
df_paths_episodes = import_data.get_df_paths_episodes()
df_paths_episodes

,serie,season,episode_number,episode_name,path
0,Lost,01,1,Pilot_(1),data/transcripts/1___Lost/01/01__Pilot_(1).txt
1,Lost,01,2,Pilot_(2),data/transcripts/1___Lost/01/02__Pilot_(2).txt
2,Lost,01,3,Tabula_rasa,data/transcripts/1___Lost/01/03__Tabula_rasa.txt
3,Lost,01,4,Walkabout,data/transcripts/1___Lost/01/04__Walkabout.txt
4,Lost,01,5,White_rabbit,data/transcripts/1___Lost/01/05__White_rabbit.txt
...,...,...,...,...,...
81817,Mind_of_a_Chef,04,3,Rome,data/transcripts/5480___Mind_of_a_Chef/04/03__...
81818,Mind_of_a_Chef,04,4,Hunger,data/transcripts/5480___Mind_of_a_Chef/04/04__...
81819,Mind_of_a_Chef,04,5,Past,data/transcripts/5480___Mind_of_a_Chef/04/05__...
81820,Mind_of_a_Chef,04,6,Hustle,data/transcripts/5480___Mind_of_a_Chef/04/06__...
81821,Mind_of_a_Chef,04,7,Napkin,data/transcripts/5480___Mind_of_a_Chef/04/07__...

In [4]:
def replace_underscore_space(text):
    return text.replace("_", " ")

In [5]:
df_paths_episodes["serie_clean_name"] = df_paths_episodes["serie"].swifter.apply(replace_underscore_space)
df_paths_episodes

Dask Apply:   0%|          | 0/30 [00:00<?, ?it/s]

,serie,season,episode_number,episode_name,path,serie_clean_name
0,Lost,01,1,Pilot_(1),data/transcripts/1___Lost/01/01__Pilot_(1).txt,Lost
1,Lost,01,2,Pilot_(2),data/transcripts/1___Lost/01/02__Pilot_(2).txt,Lost
2,Lost,01,3,Tabula_rasa,data/transcripts/1___Lost/01/03__Tabula_rasa.txt,Lost
3,Lost,01,4,Walkabout,data/transcripts/1___Lost/01/04__Walkabout.txt,Lost
4,Lost,01,5,White_rabbit,data/transcripts/1___Lost/01/05__White_rabbit.txt,Lost
...,...,...,...,...,...,...
81817,Mind_of_a_Chef,04,3,Rome,data/transcripts/5480___Mind_of_a_Chef/04/03__...,Mind of a Chef
81818,Mind_of_a_Chef,04,4,Hunger,data/transcripts/5480___Mind_of_a_Chef/04/04__...,Mind of a Chef
81819,Mind_of_a_Chef,04,5,Past,data/transcripts/5480___Mind_of_a_Chef/04/05__...,Mind of a Chef
81820,Mind_of_a_Chef,04,6,Hustle,data/transcripts/5480___Mind_of_a_Chef/04/06__...,Mind of a Chef
81821,Mind_of_a_Chef,04,7,Napkin,data/transcripts/5480___Mind_of_a_Chef/04/07__...,Mind of a Chef